    .switch {
      position: relative;
      display: inline-block;
      width: 32px;
      height: 21px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked+.slider {
      background-color: #689f38;
    }

    input:focus+.slider {
      box-shadow: 0 0 1px #689f38;
    }

    input:checked+.slider.blue {
      background-color: #4e44e2;
    }

    input:focus+.slider.blue {
      box-shadow: 0 0 1px #4e44e2;
    }
    input:checked+.slider.red {
      background-color: #d3280a;
    }

    input:focus+.slider.red {
      box-shadow: 0 0 1px #d3280a;
    }
    input:checked+.slider.orange {
      background-color: orange;
    }

    input:focus+.slider.orange {
      box-shadow: 0 0 1px orange;
    }

    input:checked+.slider:before {
      -webkit-transform: translateX(13px);
      -ms-transform: translateX(13px);
      transform: translateX(13px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    /*BtConnected Rows*/
    .btConnected {
      display: none;
    }

    td.btConnected.checked {
      display: table-cell;
    }

    tr.btConnected.checked {
      display: table-row;
    }

    .temperature_sensor {
      display: none;
    }

    .ext_battery {
      display: none;
    }

    [id='TOTAL_BATTERY_PERCENT'] {
      font-weight: bolder;
      /*Green*/
      color: #689f38;
    }