<tr>
  <td>Free Heap (Bytes):</td>
  <td><span id="FREE_HEAP">waiting ...</span> of <span id="TOTAL_HEAP">waiting ...</span> (<span id="PERC_HEAP">waiting ...</span> %%)</td>
</tr>
<tr>
  <td>Alloc Heap / Min Free Alloc Heap(Bytes):</td>
  <td><span id="MAX_ALLOC">waiting ...</span> / <span id="MIN_ALLOC">waiting ...</span></td>
</tr>
<tr>
  <td><a href="./debugLog" target="_blank">Download Debug Log</a></td>
  <td><b><a href="#" onclick="jsCall('./clearLog');">Clear Debug Log</a></b></td>
</tr>
<tr>
  <td>SPIFFS Used (Bytes):</td>
  <td><span id="SPIFFS_USED">waiting ...</span> of <span id="SPIFFS_TOTAL">waiting ...</span> (<span id="SPIFFS_PERC">waiting ...</span> %%)</td>
</tr>
<tr>
  <td colspan="3">
    <hr>
  </td>
</tr>