<tr>
  <td>External battery Voltage LOW:</td>
  <td><input type="number" step="0.01" min="11.8" max="18" name="volt_Switch_off" value="%VOLT_SWITCH_OFF%"></td>
</tr>
<tr>
  <td>External battery Voltage to turn DC input ON:</td>
  <td><input type="number" step="0.01" min="11.8" max="18" name="volt_Switch_ON" value="%VOLT_SWITCH_ON%"></td>
</tr>
<tr>
  <td>Bluetti battery percent for DC input OF:</td>
  <td><input type="number" step="1" min="0" max="100" name="volt_MAX_BLUETT_PERC" value="%VOLT_MAX_BLUETT_PERC%"></td>
</tr>