<tr>
  <td>Use IFTT:</td>
  <td><input type="checkbox" name="useIFTT" value="useIFTTBool" %B_USE_IFTT%></td>
</tr>
<tr class="showiftt">
  <td>IFTT Key:</td>
  <td><input type="text" size="25" name="IFTT_Key" value="%IFTT_KEY%"></td>
</tr>
<tr class="showiftt">
  <td>IFTT Event - Low Battery (empty to not trigger the event):</td>
  <td><input type="text" size="25" name="IFTT_Event_low" value="%IFTT_EVENT_LOW%"></td>
</tr>
<tr class="showiftt">
  <td>IFTT Low Battery percentage:</td>
  <td><input type="number" placeholder="1.0" step="1" min="0" max="100" name="IFTT_low_bl" value="%IFTT_LOW_BL%"></td>
</tr>
<tr class="showiftt">
  <td>IFTT Event - High Battery (empty to not trigger the event):</td>
  <td><input type="text" size="25" name="IFTT_Event_high" value="%IFTT_EVENT_HIGH%"></td>
</tr>
<tr class="showiftt">
  <td>IFTT high Battery percentage:</td>
  <td><input type="number" placeholder="1.0" step="1" min="0" max="100" name="IFTT_high_bl" value="%IFTT_HIGH_BL%"></td>
</tr>