<tr>
  <td>MQTT Server (leave empty for no MQTT commands):</td>
  <td><input type="text" size="40" name="MQTT_SERVER" value="%MQTT_SERVER%"></td>
</tr>
<tr>
  <td>MQTT port:</td>
  <td><input type="number" placeholder="1" step="1" min="0" max="65535" name="MQTT_PORT" value="%MQTT_PORT%"></td>
</tr>
<tr>
  <td>MQTT username:</td>
  <td><input type="text" size="40" name="MQTT_USERNAME" value="%MQTT_USERNAME%"></td>
</tr>
<tr>
  <td>MQTT password:</td>
  <td><input type="password" size="40" name="MQTT_PASSWORD" value="%MQTT_PASSWORD%"></td>
</tr>